.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*

*._backup*
*._legacy*
*._temp*
*._labs*

._backup/**
.history/**
.husky/**
.lh/**
**/.editorconfig
**/.lintstagedrc.js
**/.prettierrc
